/node_modules
/public/hot
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/vendor
/storage/installed
composer.lock

.env
.env.backup

/public/BitPay
/public/BitPay.config.json
/storage/
/public/storage/
/bootstrap/

# OSX Specific files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
/__MACOXS
composer.lock
